<a href="https://colab.research.google.com/github/Alinehbg/EnsembleLearning/blob/Emma-S/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd


import pandas as pd
import numpy as np
from numpy import loadtxt
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
# Load the CSV dataset into a pandas dataframe
df = pd.read_csv('/content/data_processed_10_v5.csv')

In [24]:
df.head()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,neighbourhood_1,neighbourhood_2,neighbourhood_3
0,40.64749,-73.97237,149.0,1.0,9.0,0.21,6.0,365.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,40.75362,-73.98377,225.0,1.0,45.0,0.38,2.0,355.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,40.80902,-73.94190,150.0,3.0,0.0,0.00,1.0,365.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0
3,40.68514,-73.95976,89.0,1.0,270.0,4.64,1.0,194.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,40.79851,-73.94399,80.0,10.0,9.0,0.10,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [26]:
X=df.drop('price', axis=1)
y=df['price']
# Diviser les données en ensemble d'entraînement et ensemble de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
# Instancier le modèle Decision Tree Regressor
dt = DecisionTreeRegressor(random_state=42,max_depth= 10, min_samples_leaf= 8, min_samples_split= 2)

# Entraîner le modèle sur les données d'entraînement
dt.fit(X_train, y_train)

# Faire des prédictions sur les données de test
y_pred = dt.predict(X_test)

# Calculer la RMSE pour les prédictions
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Afficher la RMSE
print("RMSE: ", rmse)

RMSE:  91.4028597486104

In [8]:
# Définir la grille de paramètres à rechercher
param_gridDT = {
    "max_depth": [4,6,8,10, 12],
    "min_samples_split": [1,2, 4, 6, 8],
    "min_samples_leaf": [12,14,16,18,20],
}

# Créer l'objet Grid Search avec le modèle et la grille de paramètres
grid_search = GridSearchCV(
    dt, param_grid=param_gridDT, cv=5, scoring="neg_mean_squared_error"
)

# Effectuer la recherche de grille sur les données d'entraînement
grid_search.fit(X_train, y_train)

# Sélectionner le meilleur modèle
best_model = grid_search.best_estimator_

# Faire des prédictions sur les données de test avec le meilleur modèle
y_pred = best_model.predict(X_test)

# Calculer la RMSE pour les prédictions
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Afficher la RMSE et les hyperparamètres du meilleur modèle
print("Best hyperparameters: ", grid_search.best_params_)
print("RMSE: ", rmse)

Best hyperparameters:  {'max_depth': 8, 'min_samples_leaf': 14, 'min_samples_split': 1}
RMSE:  78.55054498643719